.navigation {
    .nav-links-container {
        display: flex;
    }

    #navigation-bar {
        margin-left: -43px;
    }

    .nav-iconButtons {
        display: flex;
        padding-left:5rem;
    }

    .nav-menu {
        display:none;
    }

    .nav-home {
        display: none;
    }

    .nav-home-link {
        color: black;
    }

    .person-class {
        padding: 0 !important;
    }

    .navigation-container {
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: black;
    }
}

@include media-breakpoint-down(lg) {
    .navigation {
        .logo-image {
            display: flex;
            align-items: center;

            img {
                width: 124.4px;
                height: 39px;
            }
        }

        .nav-links-container {
            display: none;
        }

        .navigation-container {
            padding: 1rem;
        }

        .nav-menu {
            display: flex;
            align-items: center;
        }
    }
}

@include media-breakpoint-down(md) {
    .navigation {
        .logo-image {
            display: flex;
            align-items: center;

            img {
                width: 124.2px;
                height: 39px;
                margin-top: 1.2rem;
            }
        }

        .nav-home {
            display: none;
        }

        .nav-menu {
            display: flex;
            align-items: center;
        }

        .nav-iconButtons {
            display: flex;
            align-items: center;
            margin-top: 1.5rem;
            padding-left: 1rem;
        }

        .navigation-container {
            padding: 1.8rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .navigation {
        .logo-image {
            display: flex;
            align-items: center;

            img {
                width: 124.2px;
                height: 39px;
                margin-top: 1.2rem;
            }
        }
    }
}

.page-container {
    @include media-breakpoint-down(lg) {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }

    @include media-breakpoint-down(lg) {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }

    @include media-breakpoint-down(md) {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
}

